html {
  scroll-behavior: smooth; /* Suaviza o scroll */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5edfc; /* Cor de fundo global */
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Peso da fonte para títulos */
  color: #693481;
}

p, li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Peso normal para textos */
}

section {
  margin-bottom: 50px; /* Espaçamento entre seções */
}