html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f5edfc;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; /* Uso do peso 700 para títulos */
  color: #693481;
}

p, li {
  font-family: 'Poppins', sans-serif;
  font-weight: 400; /* Uso do peso normal para textos */
}

section {
  margin-bottom: 50px; /* Espaço de 50 pixels entre as seções */
}