header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e3cef7;
  padding: 20px 90px;
}

/* Estilizando a logo */
.logo {
  text-decoration: underline;
  font-size: 32px;
  font-weight: 700;
  margin-left: 5px;
  padding: 10px;
  border: 3px solid #542a68;
  border-radius: 50%;
  background-color: #e3cef7;
  text-align: center;
}

/* Estilizando a lista de navegação */
.nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  text-decoration: none;
  color: #693481;
  font-weight: bold;
  transition: color 0.4s ease;
  padding: 10px 0;
}

.nav-list a:hover {
  color: #9e50c2;
}
