#hobbies {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Cobre 100% da altura da tela */
  background-color: #f5edfc;
  padding: 0 20px;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
}

.hobbies {
  max-width: 800px;
}

#hobbies h2 {
  font-size: 40px;
  color: #693481;
  margin-bottom: 20px;
}

#hobbies p {
  font-size: 22px;
  line-height: 1.6;
  color: #542a68;
}

.ahri {
  display: flex;
  justify-content: center; /* Alinha as imagens horizontalmente ao centro */
  gap: 20px; /* Espaçamento entre as imagens */
  max-width: 800px;
  margin: 20px auto;
}

.ahri img {
  width: 200px; /* Define a largura das imagens */
  height: auto;
  border-radius: 10px; /* Adiciona bordas arredondadas */
}